</div>
<footer class="footer text-center"> 2018 © Electtro Admin </footer>
            </div>
        </div>

        <script src="./javascripts/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="./javascripts/bootstrap.min.js"></script>
        <!-- Menu Plugin JavaScript -->
        <script src="./javascripts/admin-sidebar-nav.min.js"></script>
        <!--slimscroll JavaScript -->
        <script src="./javascripts/jquery.slimscroll.js"></script>
        <!--Wave Effects -->
        <script src="./javascripts/admin-waves.js"></script>
        <!--Counter js -->
        <script src="./javascripts/admin-jquery.waypoints.js"></script>
        <script src="./javascripts/admin-jquery.counterup.min.js"></script>
        <!-- chartist chart -->
        <script src="./javascripts/admin-chartist.min.js"></script>
        <script src="./javascripts/admin-chartist-plugin-tooltip.min.js"></script>
        <!-- Sparkline chart JavaScript -->
        <script src="./javascripts/jquery.sparkline.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="./javascripts/admin-custom.min.js"></script>
        <script src="./javascripts/admin-dashboard1.js"></script>
    </body>
</html>