<!-- HEADER -->
<header>
	<!-- TOP HEADER -->
	<div id="top-header">
		<div class="container">
			<ul class="header-links pull-left">
				<li>
					<a href="#">
						<i class="fa fa-phone"></i> +52 (999-355-878)</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-envelope-o"></i> electronicshop@hotmail.com</a>
				</li>
				<li>
					<a href="https://goo.gl/maps/pr1mT8TZNSA2" target="_blank">
						<i class="fa fa-map-marker"></i>Calle 115 No. 404 por Calle 50, Santa Rosa, 97279 Mérida, Yuc.</a>
				</li>
			</ul>
			<ul class="header-links pull-right">
				<li style="color:#FFFFFF;">
					<i class="fa fa-dollar"></i>MXN</li>
				<li>
					<a href="/login">
						<i class="fa fa-user-o"></i>Login</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /TOP HEADER -->

	<!-- MAIN HEADER -->
	<div id="header">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<!-- LOGO -->
				<div class="col-md-3">
					<div class="header-logo">
						<a href="#" class="logo">
							<!--<img src="./img/logo.png" alt="">-->
							<img src="http://drive.google.com/uc?export=view&id=1CDb83RAVBNMoCXZ4Dpb-tiT3-wRnT0bk" alt="">
						</a>
					</div>
				</div>
				<!-- /LOGO -->

				<!-- SEARCH BAR -->
				<div class="col-md-6">
					<!--<div class="header-search">
						<form>
							<select class="input-select">
								<option value="0">Categorías</option>
								<option value="1">Categoría 01</option>
								<option value="1">Categoría 02</option>
							</select>
							<input class="input" placeholder="Buscar">
							<button class="search-btn">Buscar</button>
						</form>
					</div>-->
				</div>
				<!-- /SEARCH BAR -->

				<!-- ACCOUNT -->
				<div class="col-md-3 clearfix">
					<div class="header-ctn">
						<!-- Cart -->
						<div class="dropdown">
							<a class="dropdown-toggle" href="/RecuperarCarro" data-toggle="dropdown" aria-expanded="true">
								<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="paypal">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="display" value="1">
									<input type="hidden" name="business" value="electroshop@hotmail.com" />
									<input type="hidden" name="shopping_url" value="https://manualeselectroshop.herokuapp.com/productos" />

									<!--<input type="submit" value="Carrito de Compras" class="btn btn-primary navbar-btn" name="submit" alt="Make payments with PayPal - it's fast, free and secure!" />-->
								</form>
								<i class="fa fa-shopping-cart"></i>
								<span>Tú carrito</span>
							</a>
						</div>
						<!-- /Cart -->

						<!-- Menu Toogle --
				<div class="menu-toggle">
					<a href="#">
						<i class="fa fa-bars"></i>
						<span>Menu</span>
					</a>
				</div>
				<!-- /Menu Toogle -->
					</div>
				</div>
				<!-- /ACCOUNT -->
			</div>
			<!-- row -->
		</div>
		<!-- container -->
	</div>
	<!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->