<!-- NAVIGATION -->
<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav">
				<li>
					<a href="/">Inicio</a>
				</li>
				<li>
					<a href="/productos">Productos</a>
				</li>
				<li>
					<a href="/acercade">Nosotros</a>
				</li>
				<li>
					<a href="/RecuperarCarro">Carrito de Compras</a>
				</li>
			</ul>
			<!-- /NAV -->
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>
<!-- /NAVIGATION -->