<%- include layouts/header.ejs %>

<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">

                <ul class="breadcrumb">
                    <li><a href="/">Inicio</a>
                    </li>
                    <li>Tus descargas</li>
                </ul>

            </div>

            <div class="col-md-3"></div>

            <div class="col-md-6" >
                <div class="box">
                    <form action="/getData" method="get">
                    <center><h1>No tienes acceso a esta opción</h1></center>

                    <center><h2>Por favor inicia sesión para acceder</h2></center>

                    </form>

                </div>
            </div>

            <div class="col-md-3"></div>


        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->


<%- include layouts/footer.ejs %>