<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-language" content="es">
    <title>
        <%= title %>
    </title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <% include ./Shared/Heads %>
</head>

<body>
    <!-- HEADER -->
    <% include ./Shared/Header %>
        <!-- /HEADER -->

        <!-- NAVIGATION -->
        <% include ./Shared/Navbar %>
            <!-- /NAVIGATION -->



            <!-- SECTION -->
            <div class="section">
                <!-- container -->
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card" style="padding-top:20px">
                                <div class="card-header text-center">
                                    <h2 class="title">¿Qué es Electro?</h2>
                                </div>
                                <div class="col-md-12" style="padding-top:20px">
                                    <a>
                                        <center>
                                            <img src="http://drive.google.com/uc?export=view&id=1jcRBGuSusVWaAG6vnP5TmkvamruhFApW" class="card-img-top img-responsive thumbnail" alt="Foto-NO-Disponible" />
                                        </center>
                                    </a>
                                </div>
                                
                                <div class="col-md-12" style="padding-bottom: 15%">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8" style="border: 1px solid #BDBDBD">
                                        <div class="card-body" style="margin: 20px">
                                            <p class="card-text">Somos una empresa encargada de aportar manuales o tutoriales de utilidad a la
                                                comunidad informática o académica que los requiera.</p>
                                            <p class="card-text">Nuestros manuales abarcan desde el desarrollo de software, hasta la aplicación
                                                de telecomunicaciones.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FOOTER -->
            <% include ./Shared/Footer %>
                <!-- /FOOTER -->
</body>

</html>