<!DOCTYPE html>
<html lang="es">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="#">
    <title>Electtro Admin</title>
    <!-- Bootstrap Core CSS -->
    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="./stylesheets/admin-sidebar-nav.min.css" rel="stylesheet">
    <!-- toast CSS -->
    <link href="./stylesheets/admin-jquery.toast.css" rel="stylesheet">
    <!-- morris CSS -->
    <link href="./stylesheets/admin-morris.css" rel="stylesheet">
    <!-- chartist CSS -->
    <link href="./stylesheets/admin-chartist.min.css" rel="stylesheet">
    <link href="./stylesheets/admin-chartist-plugin-tooltip.css" rel="stylesheet">
    <!-- animation CSS --
    <link href="./stylesheets/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="./stylesheets/admin-style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="./stylesheets/admin-default.css" id="theme" rel="stylesheet">

    <body>
        
        <section id="wrapper" class="error-page">
            <div class="">
                <div class="error-body text-center">
                    <h1 class="text-danger">Error</h2>
                    <h2 class="text-uppercase">
                        <%= message %>
                    </h2>
                    <h3 class="text-uppercase">
                        <%= error.status %>
                    </h3>
                    <p class="text-muted m-t-30 m-b-30">
                        <%= error.stack %>
                    </p>                    
                </div>
            </div>
        </section>

        <script src="./javascripts/jquery.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="./javascripts/bootstrap.min.js"></script>
        <!-- Menu Plugin JavaScript -->
        <script src="./javascripts/admin-sidebar-nav.min.js"></script>
        <!--slimscroll JavaScript -->
        <script src="./javascripts/jquery.slimscroll.js"></script>
        <!--Wave Effects -->
        <script src="./javascripts/admin-waves.js"></script>
        <!--Counter js -->
        <script src="./javascripts/admin-jquery.waypoints.js"></script>
        <script src="./javascripts/admin-jquery.counterup.min.js"></script>
        <!-- chartist chart -->
        <script src="./javascripts/admin-chartist.min.js"></script>
        <script src="./javascripts/admin-chartist-plugin-tooltip.min.js"></script>
        <!-- Sparkline chart JavaScript -->
        <script src="./javascripts/jquery.sparkline.min.js"></script>
        <!-- Custom Theme JavaScript -->
        <script src="./javascripts/admin-custom.min.js"></script>
        <script src="./javascripts/admin-dashboard1.js"></script>
    </body>

</html>